<div class="footer-container">
	<div class="footer-wrapper">
		<div class="footer-primary">
			<div class="footer-description">
				<h1 class="footer-title">Variable Futures:<br>A Typographic Exploration</h1>
				<p class="footer-subtitle">This project builds upon and draws from the work and ideas published by <a href="/credits">these design professionals</a></p>
			</div>
		</div>
		<div class="footer-secondary">
			<ul class="footer-nav">
				<li class="footer-link">
					<a href="/#section-2" class="footer-anchor">Home</a>
				</li>
				<li class="footer-link">
					<a href="/research" class="footer-anchor">R&amp;D</a>
				</li>
				<li class="footer-link">
					<a href="/experiments" class="footer-anchor">Experiments</a>
				</li>
				<li class="footer-link">
					<a href="/tools" class="footer-anchor">Tools</a>
				</li>
				<li class="footer-link">
					<a href="/credits" class="footer-anchor">Credits</a>
				</li>
			</ul>
			<p class="footer-colophon">
				Set in <a target="_blank" href="http://tylerfinck.com/leaguemonovariable/">League Mono Variable</a> and <a target="_blank" href="https://github.com/Monotype/Monotype_prototype_variable_fonts/tree/master/KairosSans">Kairos Sans Variable</a>,<br> occassionally <a target="_blank" href="https://github.com/unicode-org/text-rendering-tests/blob/master/fonts/Zycon.ttf">Zycon</a>.<br><br>
				Design: <a target="_blank" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjz5tmt5szcAhVLS7wKHQsUBEgQFjAAegQIARAB&url=https%3A%2F%2Fnz.linkedin.com%2Fin%2Fluke-guilford-209b60150&usg=AOvVaw1xNvABIo9nKjFfKJiqbahO">Luke Guilford</a> and <a href="http://alignleft.design">Nathan Walker</a><br>
				Development: <a href="http://alignleft.design">Nathan Walker</a>
			</p>
		</div>
	</div>
</div>