{% assign current = page.url | downcase | split: '/' %}
<nav class="site-nav">
  <ul class="navigation-list">
    <li class="nav-item"><a href="/#section-2" class="nav-link {% if current[1] == '' or current[1] == nil %}active{% endif %}">Home</a></li>
    <li class="nav-item"><a href="/research" class="nav-link {% if current[1] == 'research' %}active{% endif %}">R&amp;D</a></li>
    <li class="nav-item"><a href="/experiments" class="nav-link {% if current[1] == 'experiments' %}active{% endif %}">Experiments</a></li>
    <li class="nav-item"><a href="/tools" class="nav-link {% if current[1] == 'tools' %}active{% endif %}">Tools</a></li>
  </ul>
</nav>
