@charset "utf-8";
@font-face {
	font-family: "kairos";
	src: url('/assets/fonts/KairosSans_Variable.ttf');
}
@font-face {
  font-family: "fit";
  src: url('/assets/fonts/Fit-Variable.woff2');
}
@font-face {
  font-family: "fit-fallback";
  src: url('/assets/fonts/Fit-Regular.woff2');
}
@font-face {
  font-family: "league-mono";
  src: url('/assets/fonts/LeagueMonoVariable.ttf')
}
@font-face {
  font-family: "source-serif";
  src: url('/assets/fonts/SourceSerifVariable-Roman.ttf')
}
@font-face {
  font-family: "zycon";
  src: url('/assets/fonts/Zycon.ttf')
}
@font-face {
    font-family: "avenir";
    src: url("/assets/fonts/AvenirNext_Variable.ttf") format("truetype");
}
// Define defaults for each variable.
$base-font-family: -apple-system, BlinkMacSystemFont;
$mono-font-family: 'league-mono', monospace;
$sans-font-family: "kairos";
$league:           "league-mono";
$zycon:            "zycon";
$fit:              "fit";
$fit-fallback:     "fit-fallback";
$serif:            "source-serif";
$avenir:           "avenir";
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$border-radius:    4px;

$spacing-unit:     10px !default;

/* Colors */
$text-color:       red !default;
$dark-grey:        #161616;
$light-grey:       #B5B5B5;
$background-color: #fdfdfd !default;
// $brand-color:      #ff2e2e !default;
$brand-color:      #9b1acd !default;
$white:            #fff;
$black: 		   #000;
$blue:             #0000ff;
$red:              #ff2e2e;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

html {
	color: $white;
}
// Import partials.
@import
  "minima/_reset.scss",
  "minima/_main.scss",
  "minima/_nav.scss",
  "minima/_layout.scss",
  "minima/_r-d.scss",
  "minima/_code-export.scss",
  "minima/_experiments.scss",
  "minima/_draw-box.scss",
  "minima/_experiments-style.scss",
  "minima/_tools-info.scss",
  "minima/_footer.scss",
  "minima/_credits.scss",
  "minima/_publication.scss"
;
