body.draw-tool {
	background: $dark-grey;
	.ui-elements-container {
		pointer-events: none;
		> * {
			pointer-events: auto;
		}
	}
}
.explanation {
	font-family: $mono-font-family;
	display: block;
	text-align: center;
	position: absolute;
	margin: 0 auto;
	top: 50%;
	font-size: calc(0.8vw + 10px);
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}
.hide {
	display: none;
}
.rectangle {
	// background: white;
	border: 1px solid $brand-color;
	position: absolute;
	z-index: 12;
	width: auto;
	&:hover {
		cursor: text;
		> .close-button {
			display: block;
		}
	}
}
.close-button {
	left: -12px;
	top: -12px;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	background-color: black;
	background-image: url('/assets/images/close-icon.svg');
	background-position: center center;
	background-size: 12px;
	background-repeat: no-repeat;
	display: none;
	&:hover {
		cursor: pointer !important;
		background-color: red;
	}
}
.box-handle {
	position: absolute;
	opacity: 0.8;
	cursor: ew-resize;
	font-family: $mono-font-family;
	&:hover {
		background: lighten($brand-color, 20%);
		& ~ .rectangle-text-box {
			color: $brand-color;
		}
	}
	z-index: 15;
}
.box-handle.vertical {
	height: calc(100% + 10px);
	background-image: url('/assets/images/resize-arrow.svg');
	background-position: center center;
	background-size: 18px;
	background-repeat: no-repeat;
	width: 30px;
	right: -40px;
	top: -5px;
	&:before {
		content: 'resize me';
		position: absolute;
		width: auto;
		top: 50%;
		transform: translateY(-50%);
		margin: auto;
		right: -115px;
		padding: 10px;
		background: black;
	}
}
.box-handle.horizontal {
	height: 20px;
	width: calc(100% + 10px);
	bottom: -10px;
	left: -5px;
	cursor: ns-resize;
}
.rectangle-text-box {
	font-family: $fit, $fit-fallback;
	font-size: 100px;
	font-variation-settings: 'wdth' 150;
	line-height: 0.75;
	&:hover {
		color: $brand-color;
	}
}
.rectangle-text-box.focus {
	color: $brand-color;
}
#canvas {
	// background: red;
	z-index: 10;
	width: 100vw;
	height: 100vh;
}