body.experiments-page {
	.nav-link {
		color: $brand-color;
	}
}
.site-nav {
	margin: -8px 0 0 -4px;
	position: fixed;
	top: 0;
	z-index: 2015;
	width: calc(100vw + 7px);
}
body.home-page {

	.site-nav {
		position: relative;
	}
}
.site-nav.fixed {
	top: 0;
}
.navigation-list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
.site-nav.white .nav-link {
	color: $white;
}
.nav-link {
	text-transform: uppercase;
	text-decoration: none;
	color: $dark-grey;
	font-family: $sans-font-family;
	font-size: 36px;
	font-variation-settings: 'wght' 500, 'wdth' 120;
	transition: font-variation-settings 200ms ease;
	// margin-right: 70px;
	&:hover {
		font-variation-settings: 'wght' 700, 'wdth' 700;
	}
}
.nav-link.active {
	font-variation-settings: 'wght' 700, 'wdth' 700;
	position: relative;
	&:before {
		// content: '';
		width: 100%;
		height: 3px; 
		background: $dark-grey;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
}