body.rd-page {
	background: $dark-grey;
	.site-nav .nav-link {
		color: $white;
	}
	.sections-container span {
		font-variation-settings: 'wght' 700;
	}
}
.heading-section {
	height: 100vh;
	display: inline-block;
}
.sections-container {
	margin-top: 100px;
	width: 90vw;
	line-height: 1.9;
	font-size: 1.2vw;
	font-variation-settings: 'wght' 300;
	position: relative;
	z-index: 200;
}
.section-link {
	color: $red;
	font-size: 2.6vw;
	font-family: $sans-font-family;
	text-transform: uppercase;
	font-variation-settings: 'wght' 700, 'wdth' 110;
	// white-space: nowrap;
	float: left;
	display: block;
	clear: both;
	min-width: 50vw;
	padding: 0px 1vw 0.2vh 0px;
	line-height: 1;
	-webkit-text-stroke: 1.5px rgba($red, 0);
	transition: color 200ms ease, -webkit-text-stroke-color 200ms ease;
	// padding-bottom: 4.5vh;
	// width: 50vw;
	// width: 100%;
	&:hover {
		color: rgba($red, 0);
		-webkit-text-stroke: 1.5px $red;
	}

}
.space-height {
	height: 5.5vh;
	width: 51vw;
	clear: both;
	float: left;
}
.r-d-title {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 42vw;
	// line-height: 0.85;
	z-index: 100;
	touch-events: none;
	opacity: 0.3;
	width: 100vw;
	height: 70vh;
	background: url('/assets/images/r-d.svg');
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
}
.vf-section	{
	width: 100vw;
	height: 100vh;
	background: $dark-grey;
	position: relative;
}
.vf-container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.v-container, .f-container {
	height: 100vh;
	width: 50%;
	position: relative;
}
.outline-letter {
	font-family: $league;
	text-align: center;
	position: absolute;
	margin: auto;
	font-size: 45vw;
	font-variation-settings: 'wdth' 100, 'wght' 300;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	// line-height: 1;
	-webkit-text-stroke: 1px $red;
	color: rgba($red, 0);
	cursor: auto;
}
@keyframes letterFade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
$letters: 8;
@for $i from 0 to $letters {
	.v-letter:nth-of-type(#{$i + 1}), .f-letter:nth-of-type(#{$i + 1})  {
    	font-variation-settings: 'wdth' 100, 'wght' #{($i * 100)};
    	z-index: #{(9 - $i)};
    	animation: letterFade 1000ms #{(200 * $i - 200)}ms infinite forwards alternate;
	}
}
.f-letter {
	-webkit-text-stroke-color: $brand-color !important;
}
.live-interpolation-section {
	height: 100vh;
}
.interpolation-scroll-container {
	width: 100vw;
	max-width: 100vw;
	height: 13vw;
	overflow: hidden;
	position: relative;
	margin-top: 200px;
	cursor: url('/assets/images/pull-arrow.png'), move;
}
.scroll-box {
	width: auto;
	position: absolute;
	left: 0;
}
.interpolation-title {
	text-transform: uppercase;
	font-size: 10.5vw;
	font-variation-settings: 'wdth' 150;
	white-space: nowrap;
	width: auto;
	user-select: none;
	span {
		font-variation-settings: inherit;
		transition: all 300ms ease;
		&:hover {
			font-variation-settings: 'wdth' 150, 'wght' 700;
		}
	}
}
.benefits-section {
	width: 100vw;
	height: 100vh;
	display: inline-block;
}
.benefits-container {
	width: 80%;
	margin: 10vw auto 0 auto;
	display: flex;
}
.benefits-list {
	flex-basis: 100%;
	margin-right: 20%;
}
.benefit-link {
	text-transform: uppercase;
	position: relative;
	font-variation-settings: 'wdth' 140;
	font-size: 1.4vw;
	display: inline-block;
	margin-bottom: 2vw;
	cursor: pointer;
	color: rgba($white, 0.3);
	&:before {
		content: '';
		position: absolute;
		right: -2vw;
		bottom: 0;
		font: inherit;
		color: inherit;
	}
	&:hover {
		color: $white;
	}
}
.benefit-link.active {
	color: $white;
	&:before {
		content: '+'
	}
}
.benefits-text-container {
	position: relative;
	flex-basis: 130%;
}
.benefit-description {
	top: 75px;
	position: absolute;
	display: none;
	line-height: 1.5;
	font-size: 1.2vw;
}
.benefit-description.active {
	display: block;
}