---
layout: default
---
<style>html{background: #161616;}</style>
<div class="mouse-animation-container">
  <div class="cursor-container"></div>
  <div class="track-container"></div>
</div>
<h1 class="scroll-label">Scroll</h1>
<!-- <a href="#section-2" class="scroll-arrow">➟</a> -->
<div class="intro-tool-container">
  <div class="hover-columns-container">
    {% for i in (1..16) %}
    <div class="hover-column column-{{i}} {% if i == 16%}final-column{% endif %}"></div>
    {% endfor %}
  </div>
  <div class="intro-letters-container">
    <p class="intro-letter show">v</p>
    <p class="intro-letter">a</p>
    <p class="intro-letter">r</p>
    <p class="intro-letter">i</p>
    <p class="intro-letter">a</p>
    <p class="intro-letter">b</p>
    <p class="intro-letter">l</p>
    <p class="intro-letter">e</p>
    <p class="intro-letter">f</p>
    <p class="intro-letter">u</p>
    <p class="intro-letter">t</p>
    <p class="intro-letter">u</p>
    <p class="intro-letter">r</p>
    <p class="intro-letter">e</p>
    <p class="intro-letter">s</p>
    <div class="fixed-title-scroll-container fixed">
      <p class="intro-letter final-letter">variable<br>futures<br>
    </div>
    </p>
  </div>
</div>
<div id="section-2" class="section-2">
  <div class="site-wrapper">
    <div class="fixed-title-scroll-container section-two-container">
      <div class="text-container fixed">
        <p class="title-letter intro-letter final-letter section-two-title">variable<br>futures<br></p>
        <p class="subtitle">A<br>Typographic<br>Exploration</p>
      </div>
    </div>
    {%- include header.html -%}
  </div>
</div>
<div id="intro" class="intro-section">
  <div class="site-wrapper">
    <div class="intro-text-wrapper">
      <h1 class="introduction-title"><span>Variable Futures: A Typographic Exploration</span><br>is an experiment with variable fonts in both web and print contexts.</h1>
      <div></div>
      <div class="introduction-text">
        <p>
          This website is best experienced alongside the printed publication. If you don't have one lying around, scroll down to see a few images. 
          <span>Variable Futures: A Typographic Exploration</span> aims to integrate variable fonts into the context of the web and related technologies.
        </p>
        <p>
          Variable Futures is presented in three distinct exploration spaces; firstly, we <a href="/research">display our findings</a> from a solely conceptual basis, building on previous work from significant contributors in the field of variable fonts.
        </p>
        <p>
          Secondly, <a href="/experiments">we experiment</a> in two- and three-dimensional capacities, expanding the <span>Variable Futures</span> exploration frontier.
        </p>
        <p>
          Finally, we bind together all previous findings to produce a series of <a href="/tools" >experimental variable font tools</a> primarily for use on the web.
        </p>
      </div>
    </div>
    <div class="publication-section">
      <div class="images-section images-1">
        {% assign image_files = site.static_files | where: "pub1", true %}
        {% for image in image_files %}
              <div class="pub-img pub-{{forloop.index}}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </div>
        {% endfor %}
      </div>
      <div class="images-section images-2">
        {% assign image_files2 = site.static_files | where: "pub2", true %}
        {% for image in image_files2 %}
              <div class="pub-img pub-{{forloop.index}}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>




<script src="assets/js/intro.js"></script>
