---
layout: default
---
<a href="/#section-2" class="scroll-arrow">➟</a>
<div class="intro-tool-container">
  <div class="hover-columns-container">
    {% for i in (1..16) %}
    <div class="hover-column column-{{i}} {% if i == 16%}final-column{% endif %}"></div>
    {% endfor %}
  </div>
  <div class="intro-letters-container">
    <p class="intro-letter show">v</p>
    <p class="intro-letter">a</p>
    <p class="intro-letter">r</p>
    <p class="intro-letter">i</p>
    <p class="intro-letter">a</p>
    <p class="intro-letter">b</p>
    <p class="intro-letter">l</p>
    <p class="intro-letter">e</p>
    <p class="intro-letter">f</p>
    <p class="intro-letter">u</p>
    <p class="intro-letter">t</p>
    <p class="intro-letter">u</p>
    <p class="intro-letter">r</p>
    <p class="intro-letter">e</p>
    <p class="intro-letter">s</p>
    <div class="fixed-title-scroll-container fixed">
      <p class="intro-letter final-letter">variable<br>futures<br>
    </div>
    </p>
  </div>
</div>
<div id="section-2" class="section-2">
  <div class="site-wrapper">
    {%- include header.html -%}
    <div class="fixed-title-scroll-container section-two-container">
      <div class="text-container fixed">
        <p class="title-letter intro-letter final-letter section-two-title">variable<br>futures<br></p>
        <p class="subtitle">A<br>Typographic<br>Exploration</p>
      </div>
    </div>
  </div>
</div>





<script src="assets/js/intro.js"></script>
