---
layout: default
---

<div class="intro-tool-container">
  <div class="hover-columns-container">
    {% for i in (1..15) %}
    <div class="hover-column column-{{i}}"></div>
    {% endfor %}
  </div>
  <div class="intro-letters-container">
    <p class="intro-letter show">v</p>
    <p class="intro-letter">a</p>
    <p class="intro-letter">r</p>
    <p class="intro-letter">i</p>
    <p class="intro-letter">a</p>
    <p class="intro-letter">b</p>
    <p class="intro-letter">l</p>
    <p class="intro-letter">e</p>
    <p class="intro-letter">f</p>
    <p class="intro-letter">u</p>
    <p class="intro-letter">t</p>
    <p class="intro-letter">u</p>
    <p class="intro-letter">r</p>
    <p class="intro-letter">e</p>
    <p class="intro-letter">s</p>
  </div>
</div>
<script src="assets/js/intro.js"></script>
