---
layout: default
---
{%- include header.html -%}
<div class="heading-section">
	<div class="sections-container">
			{% for section_list in page.sections %}
				{% for section in section_list %}
					<a href="#{{ section[0] }}" class="section-link">{{section[1]}}</a><div class="space-height"></div>
				{% endfor %}
			{% endfor %}
		Variable fonts are a significant milestone in the long history of type design. They give a substantial amount of control back to the individual designer and allow changes to minor typeface components such as x-height, and descender & ascender height.<br><br><span>Design Space No.1 – R & D</span> investigates the history of variable fonts and the stages undertaken to bring the concept to its current place.<br><br>This design space incorporates conceptual information, as well as detailed explanations of the traditional typographic interpolation model. This concept builds the backbone for how variable fonts are interpolated in real time on the web today.
	</div>
	<div class="r-d-title"></div>
</div>
<div id="traditional-interpolation" class="traditional-interpolation-section">
	<h1 class="traditional-interpolation-title">Traditional<br>interpolation</h1>
	<p class="traditional-interpolation-description">
		Type designers use the process of traditional font interpolation as a means to produce new, intermediary fonts from a given set of master fonts. Master fonts are representative of the fundamental design of different points within individual font families, which ultimately characterise any given family. Maths is utilised to identify the ratios of space between these points, allowing for type designers to use interpolation to derive a limited continuum of font variants. This concept can then be further extended to webfonts, servicing the desire for interpolating font variants to be accessible to web users.<br><br>
		For example, the ‘VARIABLE FUTURES’ glyph set demonstrates the possibilities of interpolation by the use of light and heavy master fonts. While only five variations are depicted in this example, the interpolation ‘limited continuum’ essentially allows for any number of poles and axes, coupled with combinations of properties. In this case, interpolation occurs for everything at once between only two poles.
	</p>
	<div class="diagram-container">
		<img src="/assets/images/diagram-white.svg" alt="" class="diagram-img">
	</div>
</div>
<div class="web-typography-section" id="web-typography">
	<div class="web-typography-title web-title-1">Web Typography:<br>A Restrictive<br>Medium
		<div class="reflow-container">
			<span class="reflow">FUCKING REFLOW FUCKING REFLOW FUCKING REFLOW FUCKING REFLOW FUCKING REFLOW FUCKING REFLOW</span>
		</div>
	</div>
	<div class="web-typography-text">
		<p>Type is constrained by the medium it exists in. Over time, the design and setting of type has been influenced by both phototypesetting and moveable type. However, in current times, the innate responsiveness of the web has made the existence of relative units and increased flexibility of elements essential for type setting and design. Communication between websites and the server is used to make increasingly significant adjustments at particular breakpoints in a discrete manner (ie. not by use of a continuum).</p>

		<p>Rather than being treated as an integrated, continuous component of responsive design, fonts themselves are also treated as needing to be loaded in a set manner at certain breakpoints (in a limited, discrete manner). The integrity of font styles is compromised when font weights are substituted with media queries, further extending the compromises made inherently in design with the implementation of breakpoints.</p>

		<p>Breakpoints imply the occurrence of design trade-offs, for example the collapse of navigation tabs under a single icon. Likewise, the same trade-off occurs in the case of font files, when they exist without the capabilities of live webfont interpolation.</p>
	</div>
	<div class="web-typography-title web-title-2">Web Typography:<br>A Restrictive<br>Medium</div>
</div>
<div class="vf-section">
	<div class="vf-container">
		<div class="v-container">
			<a class="v-letter outline-letter outlined" href="">V</a>
			<a class="v-letter outline-letter outlined" href="">V</a>
			<a class="v-letter outline-letter outlined" href="">V</a>
			<a class="v-letter outline-letter outlined" href="">V</a>
			<a class="v-letter outline-letter outlined" href="">V</a>
			<a class="v-letter outline-letter outlined" href="">V</a>
			<a class="v-letter outline-letter outlined" href="">V</a>
			<a class="v-letter outline-letter outlined" href="">V</a>
		</div>
		<div class="f-container">
			<a class="f-letter outline-letter outlined" href="">F</a>
			<a class="f-letter outline-letter outlined" href="">F</a>
			<a class="f-letter outline-letter outlined" href="">F</a>
			<a class="f-letter outline-letter outlined" href="">F</a>
			<a class="f-letter outline-letter outlined" href="">F</a>
			<a class="f-letter outline-letter outlined" href="">F</a>
			<a class="f-letter outline-letter outlined" href="">F</a>
			<a class="f-letter outline-letter outlined" href="">F</a>
		</div>
	</div>
</div>
<div id="live-interpolation" class="live-interpolation-section">
	<div class="interpolation-scroll-container" id="interpolation-scroll-container">
		<div class="scroll-box" id="scroll-box">
			<h1 class="interpolation-title">Live web interpolation</h1>
		</div>
	</div>
	<div class="live-description-container">
		<div class="interpolation-icons">
			<div class="ic ic1">🌝</div>
			<div class="ic ic2">🌝</div>
			<div class="ic ic3">🌝</div>
			<div class="ic ic4">🌝</div>
		</div>
		<p class="live-description">
			Instead of fonts being exported as separate file sources, live web interpolation involves the interpolation of fonts ‘on the fly’ inside the browser. This enables fonts themselves to respond to the contexts that constrain them. Since type reflows under such circumstances, and is at least somewhat independent of a responsive design layout, the setting of abrupt points of change is less necessary. Type can be adapted to the design by the use of bending points, rather than just breaking points, which means that type is not constrained to adhering to specific font weights/designs.
		</p>
	</div>
</div>

<div class="behemoths-section" id="typographic-behemoths">
	<a href="#" class="behemoths-title">Typographic <span>Behemoths</span> Assemble</a>
	<div class="behemoths-body">
		<p class="behemoths-copy">
			Variable fonts grant single font files the capacity to be infinitely flexible in terms of weight, width and additional attributes, yet without file size changes – a revolution that has been developed by Apple, Google, Microsoft and Adobe.<br>
			Designers are able to interpolate either individual glyphs or entire glyph sets by up to 64,000 variable axes, with the ability to define specific instances as they please (such as ‘bold’, or ‘condensed’). Such advancements (facilitated by these four companies and individual contributors) have led to the progressive development of OpenType Font Variation technology. Interpolation technologies first emerged in the 1990’s from individual, competing software companies, but OpenType variable fonts constitute a collective, unified effort.<br>
			While the capacity for variable fonts exists, developments are still in progress. Designers need to produce and then offer variable fonts, complex rendering engines must be developed and tested, then browsers and software must support such rendering engines, and design and usage of these fonts must be defined with appropriate values and properties as per CSS standards. OpenType Specification version 1.8 incorporates the full technical specification for OpenType Font Variations.
		</p>
		<blockquote class="behemoths-quote">
			“Imagine condensing or extending glyph widths ever so slightly, to accommodate narrow and wide viewports. Imagine raising your favorite font’s x-height just a touch at small sizes. Imagine shortening descenders imperceptibly so that headings can be set nice and tight without letters crashing into one another. Imagine this all happening live on the web, as a natural part of responsive design.” 
		</blockquote>
	</div>
</div>

<div class="benefits-section" id="key-benefits">
	<div class="benefits-container">
		<h1 class="benefit-title">Key<br>benefits</h1>
		<div class="benefits-list">
			{% for benefits_list in page.benefits %}
			{% for benefit in benefits_list %}
			<h1 class="benefit-link">{{benefit[0]}}</h1><br>
			{% endfor %}
			{% endfor %}
		</div>
		<div class="benefits-text-container">
			{% for benefits_list in page.benefits %}
			{% for benefit in benefits_list %}
			<p class="benefit-description">{{benefit[1]}}</p>
			{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>






<script src="/assets/js/rd.js"></script>
